<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View</title>
</head>
<body>
    <div class="all-elemts">
        <div>
            <form action="">
                <label for="city">City Name</label>
                <label for="cityCode">City Code</label>
                <label for="date">Date</label>
                <label for="firstDose">First Dose</label>
                <label for="secoundDose">Secound Dose</label>
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
            </form>
        </div>
    </div>
</body>
</html>