<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/style-admin-view.css" rel="stylesheet">
    <title>Admin View</title>
</head>
<body class="adminView">
    <div class="all-elemts">
        <div class="vaccinDiv">
            <h1>
                התחסנות לפי ישוב ותאריך
            </h1>
            <div class="addNewInfo">
                <h1>הוספת מידע חדש</h1>
                <form action="" class="vaccinForm vaccinFormNewInfo">
                    <div class="grid">
                        <label for="city" class="formTitle">ישוב</label>
                        <label for="cityCode" class="formTitle">קוד ישוב</label>
                        <label for="date" class="formTitle">תאריך</label>
                        <label for="firstDose" class="formTitle">מתחסנים מנה ראשונה</label>
                        <label for="secoundDose" class="formTitle">מתחסנים מנה שניה</label>

                        <input type="text" id="newCity">
                        <input type="text" id="newCode">
                        <input type="text" id="newDate">
                        <input type="text" id="newDose1">
                        <input type="text" id="newDose2">
                    </div>
                    <div class="divButton">
                        <button id="addInfoButton">הוספה</button>
                    </div>
                </form>
            </div>
            <div class="editInfo">
                <h1>עריכת מידע קיים</h1>
                <form action="" class="searchForm">
                    <input type="text" id="searchCity" placeholder="שם העיר">
                    <input type="text" id="searchDate" placeholder="תאריך">
                    <button id="searchButton">חיפוש</button>
                </form>
                <div id="editCityDateInfoDiv"></div>
            </div>
        </div>
        <div class="vaccinDiv">
            <h1>
                נתוני חולים, נפטרים ובדיקות
            </h1>
            <div class="addNewInfo">
                <h1>הוספת מידע חדש</h1>
                <form action="" class="vaccinForm vaccinFormNewInfo">
                    <div>
                        <div class="infected">
                            <input type="text" id="addDateInfected" placeholder="תאריך">
                        </div>
                        <div class="infected">
                            <input type="text" id="addInfecteds"  placeholder="מאומתים חדשים">
                            <input type="text" id="addInfectedsFromMidNight"  placeholder="מאומתים מחצות">
                            <input type="text" id="addTotalInfecteds"  placeholder='סה"כ מאומתים'>
                        </div>                        
                        <div class="infected">
                            <input type="text" id="addActivePatients"  placeholder="חולים פעילים">
                            <input type="text" id="addActivePatientsFromMidNight"  placeholder="חולים פעילים מחצות">
                            <input type="text" id="addActiveAtHome"  placeholder="חולים בבית או בקהילה">
                            <input type="text" id="addActiveAtHospital"  placeholder="חולים במלון">
                            <input type="text" id="addActiveAtHotel"  placeholder='חולים בבי"ח'>
                        </div>
                        <div class="infected">
                            <input type="text" id="addSeriouslyIll"  placeholder="חולים קשה">
                            <input type="text" id="addSeriouslyIllFromMidNight"  placeholder="חולים קשה מחצות">
                            <input type="text" id="addCriticalIll"  placeholder="חולים במצב קריטי">
                            <input type="text" id="addRespiratoryPatients"  placeholder="חולים מונשמים">                            
                        </div>
                        <div class="infected">
                            <input type="text" id="addDeceased"  placeholder="נפטרים">
                        </div>
                        <div class="infected">
                            <input type="text" id="addPositiveResults"  placeholder="בדיקות חיוביות מאתמול">
                            <input type="text" id="addTotalLabsTest"  placeholder='סה"כ בדיקות מאתמול'>
                        </div>
                    </div>
                    <div class="divButton infectedButt">
                        <button id="addInfoButtonInfected">הוספה</button>
                    </div>
                </form>
            </div>
            <div class="editInfo">
                <h1>עריכת מידע קיים</h1>
                <form action="" class="searchForm">
                    <input type="text" id="searchDateInfected" placeholder="תאריך" size="12">
                    <button id="searchButtonInfected">חיפוש</button>
                </form>
                <div id="editInfoInfected"></div>
            </div>
        </div>
        <div class="vaccinDiv">
            <h1>
                תוכנית רמזור
            </h1>
            <div class="addNewInfo">
                <h1>הוספת מידע חדש</h1>
                <form action="" class="vaccinForm vaccinFormNewInfo">
                    <div class="gridTraffic">
                        <label for="city" class="formTitle">ישוב</label>
                        <label for="score" class="formTitle">ציון</label>
                        <label for="newInfectedsFor10KPeople" class="formTitle">חולים חדשים לכל 10,000 נפש</label>
                        <label for="positiveTestPercentage" class="formTitle">% הבדיקות החיוביות</label>
                        <label for="verifiedChangeRate" class="formTitle">שיעור שינוי מאומתים</label>
                        <label for="activePatients" class="formTitle">חולים פעילים</label>

                        <input type="text" id="cityTraffic">
                        <input type="text" id="score">
                        <input type="text" id="newInfectedsFor10KPeople">
                        <input type="text" id="positiveTestPercentage">
                        <input type="text" id="verifiedChangeRate">
                        <input type="text" id="activePatients">
                    </div>
                    <div class="divButton">
                        <button id="addInfoButtonTraffic">הוספה</button>
                    </div>
                </form>
            </div>
            <div class="editInfo">
                <h1>עריכת מידע קיים</h1>
                <form action="" class="searchForm">
                    <input type="text" id="searchCityTraffic" placeholder="שם העיר">
                    <button id="searchButtonTraffic">חיפוש</button>
                </form>
                <div id="editCityTrafficInfoDiv" class="gridTraffic"></div>
            </div>
        </div>
        
    </div>
    <script src="./js/app.js"></script>
</body>
</html>