<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/style-header.css" rel="stylesheet">
    <link href="./css/style-side-menu.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alef&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/638f0ae76f.js" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <title>Corona Virus</title>
</head>
<body class="index">
    {{>header}}
    <div class="all-divs">
        {{>sideMenu}}
        <div class="general">
            <div class="section1 section">
                <div class="container">
                    <div class="innerContainer">
                        <div id="newInfected">  
                            <h2>מאומתים חדשים מאתמול</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="innerContainer">
                        <div id="activePatients">  
                            <h2>חולים פעילים</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="innerContainer">
                        <div id="seriouslyIll">  
                            <h2>חולים קשה</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="innerContainer">
                        <div id="vaccinDose1">  
                            <h2>מתחסנים מנה ראשונה</h2>
                        </div>
                        <div id="vaccinDose2">  
                            <h2>מתחסנים מנה שניה</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="innerContainer">
                        <div id="">  
                            <h2>נפטרים מצטבר</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="innerContainer">
                        <div id="">  
                            <h2>אחוז בדיקות חיוביות אתמול</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section2 section">
                <div class="container">
                    <div class="innerContainer" id="testChart"></div>
                </div>
            </div>
            <div class="section3 section">
                <div class="container rt">
                    <div class="innerContainer">
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="container lf">
                    <div class="innerContainer">

                    </div>
                </div>
            </div>
            <div class="section4 section">
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
            </div>
            <div class="section5 section">
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
            </div>
            <div class="section6 section">
                <div class="container rt">
                    <div class="innerContainer"></div>
                </div>
                <div class="container lf">
                    <div class="innerContainer"></div>
                </div>
            </div>
            <div class="section7 section">
                <div class="container lf">
                    <div class="innerContainer"></div>
                </div>
                <div class="container cr">
                    <div class="innerContainer"></div>
                </div>
                <div class="container rt">
                    <div class="innerContainer"></div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="./js/app.js"></script>
    
</body>
</html>