<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <title>Corona Virus</title>
</head>
<body>
    {{>header}}
    <div class="all-divs">
        <div class="rt-menu">
            <a href="/" id="generalSituationBar">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25">
                        <defs>
                            <linearGradient id="h36gxeqsaa" x1="4.253%" x2="95.747%" y1="0%" y2="100%">
                                <stop offset="0%" stop-color="#B1D47B"></stop>
                                <stop offset="100%" stop-color="#00D6FF"></stop>
                            </linearGradient>
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <g stroke="url(#h36gxeqsaa)" stroke-width="2" transform="translate(-1373 -123)">
                                <g>
                                    <g>
                                        <path d="M55 32.5V43h-9V32.5h9zM68 35v8h-8.5v-8H68zm0-15v10.5h-8.5V20H68zm-13 0v8h-9v-8h9z" transform="translate(1327 -273) translate(1 377)"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <p>מצב כללי</p>
                </div>
            </a>
            <a href="https://datadashboard.health.gov.il/COVID-19/about"><div> <p>אודות</p> </div></a>
            <a href=""><div><p>תנאי שימוש</p></div>  </a>
            <a href="https://datadashboard.health.gov.il/COVID-19/guide"><div><p>מדריך למשתמש</p></div> </a>
            <a href="https://experience.arcgis.com/experience/21be4a670f5d4988a834b3fa6304ba1d?locale=he">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                        <g fill="none" fill-rule="evenodd">
                            <g fill="#EAEBEA" fill-rule="nonzero">
                                <g>
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M50.62 3.972L42.18.817h-.095c-.044-.013-.09-.023-.135-.03h-.095c-.048-.004-.097-.004-.145 0h-.09c-.047.008-.094.02-.14.035l-8.065 3-8.065-3c-.307-.115-.65-.072-.92.114-.268.187-.43.493-.43.82v22.09c-.004.41.242.78.62.936l8.415 3.155H33.12c.174.054.36.054.535 0H33.74l8.065-3 8.065 3c.307.114.65.072.92-.115.269-.186.43-.493.43-.82V4.907c.008-.405-.23-.774-.6-.935zM32.41 25.557l-6.415-2.405V3.197l6.415 2.405v19.955zm8.415-2.405l-6.415 2.405V5.602l6.42-2.405-.005 19.955zm8.415 2.405l-6.41-2.405V3.197l6.415 2.405-.005 19.955z" transform="translate(-1370 -545) translate(1327 -273) translate(0 515) translate(19 302) translate(.34 .242)"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <p>GIS</p>
                </div>
            </a>
            <a href="https://datadashboard.health.gov.il/COVID-19/assets/other/%D7%93%D7%95%D7%97_%D7%99%D7%9E%D7%99_%D7%90%D7%A9%D7%A4%D7%95%D7%96.pdf">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28">
                        <g fill="none" fill-rule="evenodd">
                            <g fill="#EAEBEA" fill-rule="nonzero">
                                <g>
                                    <g>
                                        <g>
                                            <path d="M49.195 94.044c-1.747 0-3.165 1.442-3.165 3.217 0 .25.031.501.083.731l-4.974 2.089c-.452-.836-1.162-1.514-2.004-1.932l1.716-4.94c.062.01.123.01.185.01 1.14 0 2.076-.95 2.076-2.11 0-1.159-.935-2.109-2.086-2.109-1.151 0-2.076.95-2.076 2.11 0 .73.37 1.378.925 1.754l-1.716 4.94c-.33-.073-.679-.115-1.028-.115-.73 0-1.418.178-2.035.48l-1.572-2.485c.565-.533.925-1.305.925-2.151 0-1.62-1.295-2.946-2.898-2.946-1.603 0-2.898 1.327-2.898 2.946 0 1.618 1.295 2.945 2.898 2.945.39 0 .77-.084 1.11-.23l1.572 2.486c-.76.626-1.315 1.493-1.552 2.496l-6.063-.794c-.144-.773-.822-1.368-1.623-1.368-.915 0-1.655.752-1.655 1.681 0 .93.74 1.682 1.655 1.682.657 0 1.222-.397 1.49-.961l6.063.794v.073c0 1.138.4 2.172 1.068 2.987l-4.388 4.679c-.565-.408-1.243-.637-1.983-.637-1.901 0-3.453 1.577-3.453 3.509s1.552 3.509 3.453 3.509c1.901 0 3.453-1.577 3.453-3.51 0-.814-.267-1.555-.73-2.15l4.388-4.68c.637.491 1.398.815 2.23.92l-.154 2.788c-.678.209-1.161.856-1.161 1.608 0 .93.74 1.682 1.654 1.682.915 0 1.655-.752 1.655-1.682 0-.73-.463-1.357-1.12-1.587l.154-2.8c.555-.062 1.079-.218 1.562-.47l4.44 6.957c-.34.376-.556.877-.556 1.43 0 1.16.936 2.11 2.076 2.11 1.14 0 2.076-.95 2.076-2.11 0-1.159-.935-2.11-2.076-2.11-.236 0-.452.042-.668.116l-4.44-6.956c.422-.355.792-.794 1.06-1.285l3.791 1.671c0 .053-.01.105-.01.157 0 .93.74 1.681 1.655 1.681.914 0 1.654-.751 1.654-1.681s-.74-1.681-1.654-1.681c-.494 0-.936.219-1.234.564l-3.792-1.671c.134-.429.196-.888.196-1.358 0-.45-.062-.877-.175-1.285l4.974-2.099c.555.909 1.551 1.514 2.682 1.514 1.747 0 3.165-1.44 3.165-3.216 0-1.776-1.408-3.207-3.145-3.207z" transform="translate(-1369 -633) translate(1327 -273) translate(0 515) translate(19 302)"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <p>הי-DATA</p>
                </div>
            </a>
            <a href="https://data.gov.il/dataset/covid-19">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="31" height="30" viewBox="0 0 31 30">
                        <g fill="none" fill-rule="evenodd">
                            <g fill="#EAEBEA" fill-rule="nonzero">
                                <g>
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M11.942 4.029c.828-.036 1.512.612 1.512 1.404v10.296c0 .144.108.252.252.252h10.296c.396 0 .756.18 1.044.432.252.288.396.684.396 1.044-.468 6.696-6.012 11.952-12.744 11.952-.288 0-.612 0-.9-.036C5.534 28.941.458 23.865.026 17.601c-.216-3.42.9-6.732 3.132-9.288 2.268-2.556 5.364-4.104 8.784-4.284zm.061 1.999C9.148 6.2 6.568 7.507 4.676 9.674c-1.892 2.167-2.855 4.954-2.649 7.843.379 5.332 4.644 9.598 9.976 9.976.241.035.516.035.757.035 5.676 0 10.389-4.438 10.733-10.08l-10.074.07c-.894 0-1.616-.723-1.616-1.618l.2-9.872zm5.62-6.023c6.3.432 11.34 5.508 11.771 11.772.036.396-.108.828-.396 1.116-.288.324-.684.504-1.116.504H17.514c-.828 0-1.512-.684-1.512-1.512V1.517c0-.864.72-1.584 1.62-1.512zM18.067 2c-.033 0-.066.033-.066.065v9.382c0 .032.033.065.066.065h9.38c.033 0 .033 0 .033-.033.033-.032.033-.032 0-.032-.326-5.05-4.397-9.121-9.413-9.447z" transform="translate(-1369 -720) translate(1327 -273) translate(0 515) translate(19 302) translate(23.34 176)"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <p>Data Gov</p>
                </div>
            </a>
        </div>
        <div class="general">
            <div class="section1 section">
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
            </div>
            <div class="section2 section">
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
            </div>
            <div class="section3 section">
                <div class="container rt">
                    <div class="innerContainer">
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="container lf">
                    <div class="innerContainer">

                    </div>
                </div>
            </div>
            <div class="section4 section">
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
            </div>
            <div class="section5 section">
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
            </div>
            <div class="section6 section">
                <div class="container rt">
                    <div class="innerContainer"></div>
                </div>
                <div class="container lf">
                    <div class="innerContainer"></div>
                </div>
            </div>
            <div class="section7 section">
                <div class="container rt">
                    <div class="innerContainer"></div>
                </div>
                <div class="container cr">
                    <div class="innerContainer"></div>
                </div>
                <div class="container lf">
                    <div class="innerContainer"></div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="./js/app.js"></script>
    
</body>
</html>