<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/style-header.css" rel="stylesheet">
    <link href="./css/style-side-menu.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alef&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/638f0ae76f.js" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <title>Corona Virus</title>
</head>
<body class="index">
    {{>header}}
    <div class="all-divs">
        {{>sideMenu}}
        <div class="general">
            <div class="section1 section">
                <div class="container">
                    <div class="innerContainer">
                        <div id="newInfected">  
                            <h2>מאומתים חדשים מאתמול</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="innerContainer">
                        <div id="activePatients">  
                            <h2>חולים פעילים</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="innerContainer">
                        <div id="seriouslyIll">  
                            <h2>חולים קשה</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="innerContainer">
                        <div>
                            <div id="vaccinDose1">  
                                <h2>מתחסנים מנה ראשונה</h2>
                            </div>
                            <div id="vaccinDose2">  
                                <h2>מתחסנים מנה שניה</h2>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="container">
                    <div class="innerContainer">
                        <div id="deceased">  
                            <h2>נפטרים מצטבר</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="innerContainer">
                        <div id="testPercentage">  
                            <h2>אחוז בדיקות חיוביות אתמול</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section2 section">
                <div class="container">
                    <div class="innerContainer">
                        <h1>מדדי התחסנות</h1>
                            <div class="section2-graphs-container">
                                <div id="dailyNumOfVaccinateds">
                                    <div class="section2-graphTitle">
                                        <div><h2>מספר מתחסנים - יומי</h2></div>
                                        <div class="section2-openMenu" id="periodButtonNumOfVaccinated">
                                            <p>חודש אחרון</p>
                                            <p><i class="fas fa-chevron-down"></i></p>
                                        </div>
                                        <div class="section2-menu" id="section2MenuNumOfVaccinated">
                                            <div id="untilNowNumOfVaccinated"><p>עד עכשיו</p></div>
                                            <div id="lastWeekNumOfVaccinated"><p>שבוע אחרון</p></div>
                                            <div id="twolastWeeksNumOfVaccinated"><p>שבועיים אחרונים</p></div>
                                            <div id="lastMonthNumOfVaccinated"><p>חודש אחרון</p></div>  
                                        </div>
                                        
                                    </div>
                                    <div class="section2-assembly">
                                        <p class="darkGreen"><i class="fas fa-circle"></i></p>
                                        <p>מתחסנים מנה ראשונה</p>
                                        <p class="lightGreen"><i class="fas fa-circle"></i></p>
                                        <p>מתחסנים מנה שניה</p>
                                    </div>
                                    <div id="dailyNumOfVaccinatedsGraph">
                                        <h1>--פה יבוא גרף--</h1>
                                    </div>
                                </div>

                                <div id="cumulativeNumOfVaccinateds">
                                    <div class="section2-graphTitle">
                                        <div><h2>מספר מתחסנים - מצטבר</h2></div>
                                        
                                        <div class="section2-openMenu" id="periodButtonCumNumOfVaccinated">
                                            <p>חודש אחרון</p>
                                            <p><i class="fas fa-chevron-down"></i></p>
                                        </div>
                                    
                                        <div class="section2-menu" id="section2MenuCumNumOfVaccinated">
                                            <div id="untilNowCumNumOfVaccinated"><p >עד עכשיו</p></div>
                                            <div id="lastWeekCumNumOfVaccinated"><p>שבוע אחרון</p></div>
                                            <div id="twolastCumWeeksNumOfVaccinated"><p>שבועיים אחרונים</p></div>
                                            <div id="lastMonthCumNumOfVaccinated"><p>חודש אחרון</p></div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div  class="section2-assembly">
                                        <p class="darkGreen"><i class="fas fa-circle"></i></p>
                                        <p>מתחסנים מנה ראשונה</p>
                                        <p class="lightGreen"><i class="fas fa-circle"></i></p>
                                        <p>מתחסנים מנה שניה</p>
                                    </div>
                                    <div id="cumulativeNumOfVaccinatedsGraph">
                                        <h1>--פה יבוא גרף--</h1>
                                    </div>
                                </div>

                                <div id="numOfVaccinatedsFromAllPopulation">
                                    <div class="section2-graphTitle">
                                        <div><h2>אחוז מתחסנים מכלל האוכלוסייה</h2></div>
                                        <div class="section2-openMenu" id="periodButtonPrecentOfVaccinated">
                                            <p>חודש אחרון</p>
                                            <p><i class="fas fa-chevron-down"></i></p>
                                        </div>
                                        <div class="section2-menu" id="section2MenuPercentOfVaccinated">
                                            <div id="untilNowPercentOfVaccinated"><p>עד עכשיו</p></div>
                                            <div id="lastWeekPercentVaccinated"><p>שבוע אחרון</p></div>
                                            <div id="twolastWeeksPercentOfVaccinated"><p>שבועיים אחרונים</p></div>
                                            <div id="lastMonthPercentOfVaccinated"><p>חודש אחרון</p></div> 
                                        </div>
                                        
                                    </div>
                                    <div  class="section2-assembly">
                                        <p class="darkGreen"><i class="fas fa-circle"></i></p>
                                        <p>% מתחסנים מנה ראשונה</p>
                                        <p class="lightGreen"><i class="fas fa-circle"></i></p>
                                        <p>% מתחסנים מנה שניה</p>
                                    </div>
                                    <div id="numOfVaccinatedsFromAllPopulationGraph">
                                        <h1>--פה יבוא גרף--</h1>
                                    </div>
                                </div>
                            </div>
                            
                    </div>
                </div>
            </div>
            <div class="section3 section">
                <div class="container rt">
                    <div class="innerContainer">
                        <div class="section3-first-section">
                            <div><h2>התחסנות לפי ישובים </h2></div>
                            <div class="search">
                                <form>
                                    <span _ngcontent-qkp-c194="" class="input-icon"><nb-icon _ngcontent-qkp-c194="" icon="search-outline" _nghost-qkp-c58=""><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" class="eva eva-search-outline" fill="currentColor"><g data-name="Layer 2"><g data-name="search"><rect width="24" height="24" opacity="0"></rect><path d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"></path></g></g></svg></nb-icon></span>
                                    <input class="searchInput" id="searchInputVaccinate" placeholder="חיפוש ישוב" name="text" size="10">
                                </form>
                            </div>
                        </div>
                        <div id="tableVaccinationByCityTitle"></div>
                        <div id="tableVaccinationByCity"></div>
                    </div>
                </div>
                <div class="container lf">
                    <div class="innerContainer">

                    </div>
                </div>
            </div>
            <div class="section4 section">
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
            </div>
            <div class="section5 section">
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
                <div class="container">
                    <div class="innerContainer"></div>
                </div>
            </div>
            <div class="section6 section">
                <div class="container rt">
                    <div class="innerContainer">
                        <div class="section6-first-section">
                            <div>
                                <h2>תכנית הרמזור </h2>
                                <p class="section6-first-section-sec-title">* מרכיבי ציון הרמזור (לפי נתוני השבוע האחרון)</p>
                            </div>
                            <div class="section6-first-section-search-area">
                                <div class="section6-first-section-dates">
                                    <p><i class="fas fa-info-circle"></i> הנתונים נכונים לתאריך 14/02/2021</p>
                                </div>
                                <div class="search">
                                    <form>
                                        <span _ngcontent-qkp-c194="" class="input-icon"><nb-icon _ngcontent-qkp-c194="" icon="search-outline" _nghost-qkp-c58=""><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" class="eva eva-search-outline" fill="currentColor"><g data-name="Layer 2"><g data-name="search"><rect width="24" height="24" opacity="0"></rect><path d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"></path></g></g></svg></nb-icon></span>
                                        <input class="searchInput" id="searchInputTraffic" placeholder="חיפוש ישוב" name="text" size="10">
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                        <div  class="section6-sec-section">
                            <div class="square red"></div>
                            <div>
                                <p>אדום - פעילות מינימלית</p>
                                <span>ציון 7.5 ומעלה</span>
                            </div>
                            <div class="square orange"></div>
                            <div>
                                <p>כתום - פעילות מצומצמת</p>
                                <span>ציון בין 6 ל - 7.5</span>
                            </div>
                            <div class="square yellow"></div>
                            <div>
                                <p>צהוב - פעילות מוגבלת</p>
                                <span>ציון בין 4.5 ל - 6</span>
                            </div>
                            <div class="square green"></div>
                            <div>
                                <p>ירוק - פעילות מורחבת</p>
                                <span>ציון עד 4.5</span>
                            </div>
                        </div>
                        <div id="tableVaccinationByCityTitle"></div>
                        <div id="tableVaccinationByCity"></div>
                    </div>
                </div>
                <div class="container lf">
                    <div class="innerContainer"></div>
                </div>
            </div>
            <div class="section7 section">
                <div class="container lf">
                    <div class="innerContainer"></div>
                </div>
                <div class="container cr">
                    <div class="innerContainer"></div>
                </div>
                <div class="container rt">
                    <div class="innerContainer"></div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="./js/app.js"></script>
</body>
</html>