<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <title>Corona Virus</title>
</head>
<body>
    {{>header}}
    <div class="general">
        <div class="section1">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="section2">
            <div>
                <div></div>
            </div>
        </div>
        <div class="section3">
            <div>
                <div></div>
                <div></div>
            </div>
            <div></div>
        </div>
        <div class="section4">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="section5">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="section6">
            <div>

            </div>
            <div></div>
        </div>
        <div class="section7">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    
    
</body>
</html>