<div class="header">
    <div class="line"></div>
    <div class="headerContainer">
        <div class="logoAndHamburger">
            <div class="hamburger" >
                <span id="span1"></span>
                <span id="span2"></span>
                <span id="span3"></span>
            </div>
            <div class="logo">
                <img src="https://datadashboard.health.gov.il/COVID-19/assets/images/logo_DAshboard-01.png" alt="">
            </div>
        </div>
        <div class="updateAndAccessiblity">
            <div class="update">
                <h1>נגיף הקורונה בישראל - תמונת מצב כללית</h1>
                <p>עדכון אחרון: 3 בפברואר 2021 | 10:10</p>
            </div>
            <div class="accessiblity">
                <button id="accessiblityButton">לתצוגה נגישה</button>
            </div>
        </div>
    </div> 
</div>
