:root{
    --background-color: #edf1f7;
    --dark-green: #1c7d7e;
    --light-green: #b6ca51;
}
@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansHebrew-Regular.ttf') format("truetype");
    font-style: normal;
}
@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansHebrew-Bold.ttf') format("truetype");
    font-style: bold;
    font-weight: 700;
}
@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansHebrew-ExtraBold.ttf') format("truetype");
    font-style: bold;
    font-weight: 900;
}
.header {
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 20px 2px #dce1e7; 
}
.line{
    height: 2px;
    background-image: linear-gradient(90deg,#4bb887,#16b6d0,#d6e58a);
}
.headerContainer{
    display: flex;
    justify-content: space-between;
}
.logoAndHamburger{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger{
    width: 30px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    margin-left: 10px;
}
.hamburger span {
    width: 21px;
    height: 2.33px;
    background-color: #374f60;
    border-radius: 10px;
    box-shadow:  1px 2px 3px #dce1e7;
}
.hamburger-open-top{
    opacity: 1;
    transform: rotate(45deg) translate(4px, 4px);
    background: white; 
}
.hamburger-open-middle{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
.hamburger-open-bottom{
    
    transform: rotate(-45deg) translate(4px, -4px);
}
.logo img{
    width: 252px;
    height: 48px;
}
.updateAndAccessiblity{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 300px);
}
.update{
    color: #24343F;
    text-align: center;
    padding: 15px;
    width: 100%;
}
.update h1{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}
.update p {
    font-size: 0.9rem;
    font-weight: 100;
    margin: 0;
}
.accessiblity{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 15%;
    margin-left: 10%;
}
.accessiblity button {
    background-color: #39475d;
    border-color: #39475d;
    color: white;
    border-radius: 50px;
    padding: 5px 15px;
    font-family: OpenSans, Helvetica, sans-serif;
}

.all-divs{
    display: flex;
}