.vaccinDiv {
    background-color: white;
    width: auto;
    margin: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #888888;
}
.vaccinDiv h1 {
    font-size: 2.3em;
    color: var(--dark-green);
}
.addNewInfo, 
.editInfo{
    background-color: var(--background-color);
    padding: 25px;
    margin-top: 25px;
    border-radius: 10px;
}
.vaccinDiv .addNewInfo h1,
.vaccinDiv .editInfo h1 {
    font-size: 1.5em;
    color: black;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

.vaccinForm label,
.formTitle{
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;

}
input{
    padding: 5px;
}
.divButton{
    direction: ltr;
    margin-top: 25px;
}
.divButton button,
#searchButton,
#searchButtonInfected,
#editInfoInfectedButton,
#searchButtonTraffic,
#editInfoTrafficButton {
    /* margin: 25px; */
    width: 80px;
    height: 40px;
    font-size: 1.2em;
    background-color: var(--dark-green);
    border: 1px solid var(--dark-green);
    color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #888888;
}
#searchButton,
#searchButtonInfected,
#searchButtonTraffic {
    margin-right: 25px;
}
#editCityDateInfoDiv,
#editCityTrafficInfoDiv,
#editInfoTrafficButton{
    margin-top: 25px;
}
.infected{
    margin-bottom: 20px;
}
.infectedButt{
    direction: rtl;
    /* margin-right: 50%; */
}
#editInfoInfected{
    margin-top: 25px;
}
#editInfoInfected label,
#editInfoInfected input {
    margin-left: 10px;
}
#editInfoInfected input{
    direction: ltr;
}
.notDisplay{
    display: none;
}
.gridTraffic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}