:root{
    --background-color: #edf1f7;
    --dark-green: #1c7d7e;
    --light-green: #b6ca51;
    --divider-color: #d8d8d9;
    --menu-background-color: #F7F9FC;
}
@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansHebrew-Regular.ttf') format("truetype");
    font-style: normal;
}
@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansHebrew-Bold.ttf') format("truetype");
    font-style: bold;
    font-weight: 700;
}
@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansHebrew-ExtraBold.ttf') format("truetype");
    font-style: bold;
    font-weight: 900;
}
html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: OpenSans, Helvetica, sans-serif;
    background-color: var(--background-color);
    direction: rtl;
}
.general{
    padding: 2.25rem;
    background-color: var(--background-color);
    width: 100%;
}
.section{
    background-color: var(--background-color);
    display: grid;
    margin-right: -15px;
    margin-left: -15px;
}
.section h1,
.section h2,
.section p{
    margin: 0;
}
.section h2{
    font-size: 0.9rem;
    margin-bottom: 8px;
}
.section h1{
    font-size: 1.4rem;
    line-height: 1.1;
}
.section p{
    font-size: 0.75rem;
    padding: 0 2px;
}
.section .bold{
    font-weight: 700;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.innerContainer {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.innerContainer div {
    padding: 15px;
}
.section1 .innerContainer div div {
    padding: 0;
    display: flex;
    margin-top: 5px;
}
.innerContainer div div.part3{
    margin-top: 18px;
}
.section1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.innerContainer div div.activePatGrid{
    display: grid;
    grid-template-columns: 80px 60px 80px;
}
.fa-circle{
    font-size: 0.6rem;
}
.red .fa-circle {
    color: #FB5377;
}
.orange .fa-circle {
    color: #E6B957;
}
.innerContainer div div.criticalAndRespiratory{
    flex-direction: column;
}
#vaccinDose1, 
#vaccinDose2{
    flex-direction: column;
}
#vaccinDose1 div{
    border-bottom: 1px solid var(--background-color);
}
#vaccinDose1 p,
#vaccinDose2 p {
    padding-bottom: 8px;
    margin-bottom: 4px;
}
.section2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.section2 .innerContainer div{
    padding: 0;
}
.section2 .innerContainer h1{
    text-align: center;
    padding: 26px;
}
.section2-graphs-container{
    display: flex;
    justify-content: space-between;
}
#dailyNumOfVaccinateds,
#cumulativeNumOfVaccinateds,
#numOfVaccinatedsFromAllPopulation{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#dailyNumOfVaccinateds,
#cumulativeNumOfVaccinateds{
    border-left: 1px solid var(--divider-color);
    border-top: 1px solid var(--divider-color);
}
#numOfVaccinatedsFromAllPopulation{
    border-top: 1px solid var(--divider-color);
}
.section2-graphTitle,
.section2-openMenu{
    display: flex;
    justify-content: space-between;
}
.innerContainer div div.section2-graphTitle{
    padding: 16px 24px ;
}
.section2-openMenu{
    border: var(--divider-color) 1px solid;
    border-radius: 20px;
    background-color: var(--menu-background-color);
    width: 145px;
}
.section2-openMenu p{
    padding: 8px 16px;
    font-weight: 700;
}
.innerContainer div div.section2-menu{
    display: none;
}
.innerContainer div div.toggle {
    display: block;
    position: absolute;
    margin-top: 45px;
    margin-right: 19.8%;
    border: solid 1px var(--background-color);
    background-color: white;
    font-weight: 700;
    line-height: 20px;
    border-radius: 5px;
    z-index: 100;
    width: 145px;
}
.innerContainer div div.toggle div:hover{
    background-color: var(--background-color);
}
.innerContainer div div div.checked{
    background-color: #3366FF;
    color: white;
}
.innerContainer div div div.checked:hover{
    background-color: #5C85FF;
}
.innerContainer div div.toggle div {
    padding: 3px;
    cursor: pointer;
    
}
.innerContainer div div.section2-assembly{
    padding: 0 24px;
    display: flex;
}
.darkGreen .fa-circle {
    color: var(--dark-green);
}
.lightGreen .fa-circle {
    color: var(--light-green);
}
#dailyNumOfVaccinatedsGraph, 
#cumulativeNumOfVaccinatedsGraph,
#numOfVaccinatedsFromAllPopulationGraph{
    height: 257px;
}

.section3{
    grid-template-columns: 66.6667% 33.3333%;
}
.section3 .container{
    height: 23vw;
}
.section4 {
    grid-template-columns: 1fr 1fr 1fr;
}
.section4 .container {
    height: 52vw;
}
.section5 {
    grid-template-columns: 1fr 1fr 1fr;
}
.section5 .container {
    height: 23vw;
}
.section6 {
    grid-template-columns: 66.6667% 33.3333% ;
}
.section6 .container {
    height: 24vw;
}
.section7 {
    grid-template-columns: 41.6667% 33.3333% 25%;
}
.section7 .container {
    height: 24vw;
}

@media only screen and (max-width: 1400px) {
    .section1 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: auto;
    }
    .section3,
    .section6{
        display: flex;
        flex-direction: column;
    }
    .section5{
        grid-template-columns: 1fr 1fr ;
    }
    .section7 {
        display: flex;
        flex-wrap: wrap;
    }
    .section3 .container.rt {
        width: 66.66667%;
    }
    .section3 .container.lf,
    .section6 .container.lf,
    .section7 .container.lf,
    .section7 .container.cr{
        width: 50%;
    }
    .section6 .container.rt{
        width: 66.6667%;
    }
    .section7 .container.rt{
        width: 41.6667%;
    }
}
@media only screen and (max-width: 1257px) {
    .accessiblity{
        width: 20%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 1015px) {
    .accessiblity{
        width: 30%;
    }
}
@media only screen and (max-width: 980px){
    .headerContainer{
        flex-direction: column;
    }
    .logoAndHamburger{
        justify-content: right;
        margin-top: 10px;
    }
    .updateAndAccessiblity{
        width: 100%;
    }
    .update{
        text-align: right;
    }
    .update h1{
        font-size: 13px;
    }
    .update p{
        font-size: 10px;
    }
    .accessiblity{
        margin: 0;
        width: 20%;
    }
    .accessiblity button{
        font-size: 10px;
    }
    .rt-menu{
        top: 129px
    }
}
@media only screen and (max-width: 991px){
    .general{
        padding: 1rem 1rem .5rem;
    }
    .section1 {
        grid-template-columns: 1fr 1fr;
    }
    .section3,
    .section4,
    .section5,
    .section6,
    .section7 {
        display: grid;
        grid-template-columns: 1fr
    }
    .section3 .container.rt,
    .section3 .container.lf,
    .section6 .container.lf,
    .section6 .container.rt,
    .section7 .container.lf,
    .section7 .container.cr {
        width: auto;
    }
}
@media only screen and (max-width: 760px){
    .section7 .container.rt{
        width: auto
    }
    .accessiblity{
        width: 20%;
    }
}
@media only screen and (max-width: 594px){

    .accessiblity{
        width: 30%;
    }
}
@media only screen and (max-width: 452px){
    .rt-menu a {
        padding: 0;
    }
}
@media only screen and (max-width: 420px){
    .general{
        padding: .6rem .6rem .5rem;
    }
    .accessiblity button {
        padding: 5px 5px
    }
    .update{
        padding-left: 0;
    } 

}

